<div class="d-flex justify-content-between">
  <div class="p-2">
    <b><%= comment.user.name %></b> <br>
    <%= comment.content %>
  </div>
  <span> <%= comment.created_at.strftime("%Y/%m/%d") %> </span>
</div>